* {
  transition: all 0.5s ease-in-out;
}

#quote-box {
  width: 80%; /* Adjust the width as needed */
  margin: auto;
  background-color: color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  display: flex; /* Removed quotation marks */
  flex-direction: column;
  align-items: center;
}
#text {
  font-size: 24px; /* Removed quotation marks */
  font-weight: bold; /* Removed quotation marks */
  text-align: center; /* Removed quotation marks */
  line-height: 1.4; /* Removed quotation marks */
}
.author-container {
  align-self: flex-end; /* Removed quotation marks */
}
#author {
  text-align: right; /* Removed quotation marks */
}
.button-container {
  display: flex; /* Removed quotation marks */
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 10px; /* Removed quotation marks */
  width: 100%;
}
